{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, category|default(false), true) }}
{% endblock postheader %}

{% block content %}
    {% if category is defined %}
        <h1>{% trans with { '%category%': category } %}Articles list for %category%{% endtrans %}</h1>
        {{ sgkb.newLink('sgkb_admin_categories_new_article', {'path': category.getPath()}, {}, 'Add Article') }}
    {% else %}
        <h1>{% trans %}Article list{% endtrans %}</h1>
        {{ sgkb.newLink('sgkb_admin_articles_new', {}, {}, 'Add Article') }}
    {% endif %}

    {% include "ServerGroveKbBundle:Admin/Articles:list.html.twig" %}
{% endblock %}
