

.strong {
    font-weight: bold;
}

.title-page {
    margin: 50px 0 20px 0;
}

.form-search {
    margin: 0;
}


blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
    width: 300px;
    float: right;
    background: #E1EDF1;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px rgba(50, 50, 50, 0.75);
    margin: 20px 0 30px 20px;
}



.settings {
    display: none;
}

.badge-small {
    font-size: 10px;
    margin-left: 5px;
    font-weight: normal;
}

.content-preview {
    border: solid 1px #999;
    height: 450px;
    overflow: auto;
}

a.link-mini {
    font-size: 0.6em;
}


div.selector.centered{
    text-align: center;
    margin-top: 30px;
}


ul.articles {
    margin-top: 10px;
    list-style: none;
    margin-left: 0;
}

ul.articles li {
    margin-top: 8px;

    font-size: 14px;
}

ul.subcategories li {
    float: left;
    margin-right: 18px;
}

