
/* modal for image gallery */
#galleryModal ul.image-gallery {
    max-height: 200px;
    overflow: auto;;
}

#galleryModal ul.image-gallery li {
    display: inline;
    list-style-type: none;
    cursor: pointer;
}

#galleryModal ul.image-gallery li:hover {
    opacity: 0.8;
}

#galleryModal ul.image-gallery li img {
    margin: 2px;
    width: 96px;
    height: 96px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#galleryModal ul.image-gallery li img.selected {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#galleryModal .image-preview {
    text-align: center;
}

#galleryModal .image-preview img {
    margin: 3px;
}


/* mage disables flags gray*/
li.flag-disabled {
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */;
}