{% spaceless %}
<div class="top-bar right">
    {% trans %}You are logged in the admin area{% endtrans %}. {% trans with {"%path%": path('sgkb_admin')} %}Click <a href="%path%" target="_blank">here</a> to return now{% endtrans %}.
</div>
{% endspaceless %}
