{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <form class="well form-inline" action="{{ path('sgkb_admin_login_check') }}" method="post">
            <legend>Login to the Admin panel</legend>
            {% if error %}
            <div class="alert alert-error">{{ error.message }}</div>
            {% endif %}

            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}Username{% endtrans %}"/>
            <input type="password" id="password" name="_password" placeholder="{% trans %}Password{% endtrans %}"/>
            <button class="btn" type="submit">{% trans %}Login{% endtrans %}</button>
            <div>
                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked="checked"/>{% trans %}Keep me logged in{% endtrans %}
                </label>
            </div>
        </form>
    </div>
</div>
{% endblock %}
