{% spaceless %}
<ul class="articles subcategories clearfix">
    {% set counter = 0 %}
    {% for category in categories %}
    {% set counter = counter + 1 %}
    <li>
            <a href="{{ path('sgkb_categories_view', {'path': category.getPath(), '_format': 'html' }) }}">{{ category }} <span class="badge">{{ category.getArticles().count() }}</span></a><br>

        <!--{{ category.getDescription() }}-->
    </li>
    {% endfor %}
</ul>
{% endspaceless %}
