{% block article_locales %}
{% spaceless %}
<ul class="f16">
    {% for locale in locales %}
    {{ article_locale(article, locale) }}
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock article_locales %}

{% block article_locale %}
{% spaceless %}
<li class="flag {{ locale }} {{ active ? 'flag-active' : 'flag-disabled' }}" title="{{ locale_name }}"></li>
{% endspaceless %}
{% endblock article_locale %}
