<script type="text/ng-template" id="partials/delete-form.html">

        {% raw %}
        <button type="button" class="btn btn-danger" ng-click="doDelete()">{{ button }}</button>
        <form action="{{ action }}" method="{{ method }}" class="hide" ng-transclude></form>
        {% endraw %}

</script>
