jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    encoders:
        ServerGrove\KbBundle\Document\User: sha512
        Symfony\Component\Security\Core\User\User: plaintext

    role_hierarchy:
        ROLE_CONTRIBUTOR: [ROLE_USER]
        ROLE_EDITOR:      [ROLE_CONTRIBUTOR]
        ROLE_ADMIN:       [ROLE_EDITOR]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        user_db:
            id: server_grove_kb.security.user.provider

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
            pattern:    ^/
            anonymous: ~
            form_login:
              default_target_path: /admin
              login_path:          /admin/login
              check_path:          /admin/login-check

            logout:
              path:   /admin/logout
              target: /admin/login

            remember_me:
                key:      "%secret%"
                lifetime: 3600
                path:     /
                domain:   ~ # Defaults to the current domain from $_SERVER

    access_control:
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/[\w_\-\/]+/edit, roles: ROLE_EDITOR }
        - { path: ^/admin/[\w_\-\/]+/update, roles: ROLE_EDITOR }
        - { path: ^/admin/[\w_\-\/]+/new, roles: ROLE_ADMIN }
        - { path: ^/admin/[\w_\-\/]+/create, roles: ROLE_ADMIN }
        - { path: ^/admin/[\w_\-\/]+/delete, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_USER }
